In [ ]:
from google.colab import drive
drive.mount('/content/drive')

import warnings
warnings.filterwarnings('ignore')

Mounted at /content/drive

# Original Flight Dataset

In [ ]:
import pandas as pd

# Load in the raw (original) flight dataset

INPUT_FILE = "/content/drive/My Drive/Classes/Spring 2026/GR5243/Project 1/Flight Dataset/flight_data_2024.csv"

df_flights = pd.read_csv(INPUT_FILE)
df_flights.columns = df_flights.columns.str.strip()

print("Rows:", f"{len(df_flights):,}")
print("Columns:", len(df_flights.columns))
print("\nColumn names:")
print(df_flights.columns.tolist())

df_flights.head(10)

Rows: 7,079,081
Columns: 35

Column names:
['year', 'month', 'day_of_month', 'day_of_week', 'fl_date', 'op_unique_carrier', 'op_carrier_fl_num', 'origin', 'origin_city_name', 'origin_state_nm', 'dest', 'dest_city_name', 'dest_state_nm', 'crs_dep_time', 'dep_time', 'dep_delay', 'taxi_out', 'wheels_off', 'wheels_on', 'taxi_in', 'crs_arr_time', 'arr_time', 'arr_delay', 'cancelled', 'cancellation_code', 'diverted', 'crs_elapsed_time', 'actual_elapsed_time', 'air_time', 'distance', 'carrier_delay', 'weather_delay', 'nas_delay', 'security_delay', 'late_aircraft_delay']

,year,month,day_of_month,day_of_week,fl_date,op_unique_carrier,op_carrier_fl_num,origin,origin_city_name,origin_state_nm,...,diverted,crs_elapsed_time,actual_elapsed_time,air_time,distance,carrier_delay,weather_delay,nas_delay,security_delay,late_aircraft_delay
0,2024,1,1,1,2024-01-01,9E,4814.0,JFK,"New York, NY",New York,...,0,136.0,122.0,84.0,509.0,0,0,0,0,0
1,2024,1,1,1,2024-01-01,9E,4815.0,MSP,"Minneapolis, MN",Minnesota,...,0,130.0,114.0,88.0,622.0,0,0,0,0,0
2,2024,1,1,1,2024-01-01,9E,4817.0,JFK,"New York, NY",New York,...,0,106.0,90.0,61.0,288.0,0,0,0,0,0
3,2024,1,1,1,2024-01-01,9E,4817.0,RIC,"Richmond, VA",Virginia,...,0,111.0,76.0,51.0,288.0,0,0,0,0,0
4,2024,1,1,1,2024-01-01,9E,4818.0,DTW,"Detroit, MI",Michigan,...,0,79.0,70.0,45.0,237.0,0,0,0,0,0
5,2024,1,1,1,2024-01-01,9E,4822.0,JAX,"Jacksonville, FL",Florida,...,0,137.0,120.0,102.0,833.0,0,0,0,0,0
6,2024,1,1,1,2024-01-01,9E,4822.0,LGA,"New York, NY",New York,...,0,169.0,164.0,125.0,833.0,0,0,0,0,0
7,2024,1,1,1,2024-01-01,9E,4823.0,CHS,"Charleston, SC",South Carolina,...,0,118.0,99.0,86.0,641.0,0,0,0,0,0
8,2024,1,1,1,2024-01-01,9E,4823.0,LGA,"New York, NY",New York,...,0,149.0,123.0,101.0,641.0,0,0,0,0,0
9,2024,1,1,1,2024-01-01,9E,4828.0,ITH,"Ithaca/Cortland, NY",New York,...,0,79.0,67.0,43.0,189.0,0,0,0,0,0

# Cleaned Flight Dataset

In [ ]:
import pandas as pd

# Load in the clean flight dataset

INPUT_FILE = "/content/drive/My Drive/Classes/Spring 2026/GR5243/Project 1/data cleaning/flights_clean.csv"

df_flights = pd.read_csv(INPUT_FILE)
df_flights.columns = df_flights.columns.str.strip()

print("Rows:", f"{len(df_flights):,}")
print("Columns:", len(df_flights.columns))
print("\nColumn names:")
print(df_flights.columns.tolist())

df_flights.head(10)

Rows: 7,061,581
Columns: 38

Column names:
['year', 'month', 'day_of_month', 'day_of_week', 'fl_date', 'op_unique_carrier', 'op_carrier_fl_num', 'origin', 'origin_city_name', 'origin_state_nm', 'dest', 'dest_city_name', 'dest_state_nm', 'crs_dep_time', 'dep_time', 'dep_delay', 'taxi_out', 'wheels_off', 'wheels_on', 'taxi_in', 'crs_arr_time', 'arr_time', 'arr_delay', 'cancelled', 'cancellation_code', 'diverted', 'crs_elapsed_time', 'actual_elapsed_time', 'air_time', 'distance', 'carrier_delay', 'weather_delay', 'nas_delay', 'security_delay', 'late_aircraft_delay', 'origin_state_abbr', 'dest_state_abbr', 'arr_delay_consistent']

,year,month,day_of_month,day_of_week,fl_date,op_unique_carrier,op_carrier_fl_num,origin,origin_city_name,origin_state_nm,...,air_time,distance,carrier_delay,weather_delay,nas_delay,security_delay,late_aircraft_delay,origin_state_abbr,dest_state_abbr,arr_delay_consistent
0,2024,1,1,1,2024-01-01,9E,4814,JFK,NY,New York,...,84.0,509.0,0,0,0,0,0,NY,MI,True
1,2024,1,1,1,2024-01-01,9E,4815,MSP,MN,Minnesota,...,88.0,622.0,0,0,0,0,0,MN,OH,True
2,2024,1,1,1,2024-01-01,9E,4817,JFK,NY,New York,...,61.0,288.0,0,0,0,0,0,NY,VA,True
3,2024,1,1,1,2024-01-01,9E,4817,RIC,VA,Virginia,...,51.0,288.0,0,0,0,0,0,VA,NY,True
4,2024,1,1,1,2024-01-01,9E,4818,DTW,MI,Michigan,...,45.0,237.0,0,0,0,0,0,MI,WI,True
5,2024,1,1,1,2024-01-01,9E,4822,JAX,FL,Florida,...,102.0,833.0,0,0,0,0,0,FL,NY,True
6,2024,1,1,1,2024-01-01,9E,4822,LGA,NY,New York,...,125.0,833.0,0,0,0,0,0,NY,FL,True
7,2024,1,1,1,2024-01-01,9E,4823,CHS,SC,South Carolina,...,86.0,641.0,0,0,0,0,0,SC,NY,True
8,2024,1,1,1,2024-01-01,9E,4823,LGA,NY,New York,...,101.0,641.0,0,0,0,0,0,NY,SC,True
9,2024,1,1,1,2024-01-01,9E,4828,ITH,NY,New York,...,43.0,189.0,0,0,0,0,0,NY,NY,True

# Step 1: Time-Based Features

In [ ]:
# 1) Convert flight date properly
df_flights['fl_date'] = pd.to_datetime(df_flights['fl_date'])

# 2) Day Name + Weekend Flag
df_flights['day_name'] = df_flights['fl_date'].dt.day_name()

# Derive weekend directly from date
df_flights['is_weekend'] = (
    df_flights['fl_date'].dt.dayofweek >= 5
).astype(int)


# 3) Season feature
def get_season(month):
    if month in [12, 1, 2]:
        return "winter"
    elif month in [3, 4, 5]:
        return "spring"
    elif month in [6, 7, 8]:
        return "summer"
    else:
        return "fall"

df_flights['season'] = df_flights['fl_date'].dt.month.apply(get_season)


# 4) Scheduled departure hour + peak-hour flag

# Convert to datetime
df_flights['crs_dep_time'] = pd.to_datetime(
    df_flights['crs_dep_time'],
    format="%H:%M:%S",
    errors="coerce"
)

# Extract hour cleanly
df_flights['scheduled_dep_hour'] = df_flights['crs_dep_time'].dt.hour

# Peak-hour indicator (morning + evening rush)
df_flights['is_peak_hour'] = (
    df_flights['scheduled_dep_hour'].between(7, 9) |
    df_flights['scheduled_dep_hour'].between(16, 19)
).astype(int)

df_flights.head()

,year,month,day_of_month,day_of_week,fl_date,op_unique_carrier,op_carrier_fl_num,origin,origin_city_name,origin_state_nm,...,security_delay,late_aircraft_delay,origin_state_abbr,dest_state_abbr,arr_delay_consistent,day_name,is_weekend,season,scheduled_dep_hour,is_peak_hour
0,2024,1,1,1,2024-01-01,9E,4814,JFK,NY,New York,...,0,0,NY,MI,True,Monday,0,winter,12.0,0
1,2024,1,1,1,2024-01-01,9E,4815,MSP,MN,Minnesota,...,0,0,MN,OH,True,Monday,0,winter,10.0,0
2,2024,1,1,1,2024-01-01,9E,4817,JFK,NY,New York,...,0,0,NY,VA,True,Monday,0,winter,14.0,0
3,2024,1,1,1,2024-01-01,9E,4817,RIC,VA,Virginia,...,0,0,VA,NY,True,Monday,0,winter,16.0,1
4,2024,1,1,1,2024-01-01,9E,4818,DTW,MI,Michigan,...,0,0,MI,WI,True,Monday,0,winter,10.0,0

# Step 2: Delay Outcome Features

In [ ]:
# 1) Delay indicators
df_flights['is_dep_delayed'] = (df_flights['dep_delay'] > 15).astype(int)
df_flights['is_arr_delayed'] = (df_flights['arr_delay'] > 15).astype(int)

# 2) Delay buckets are helpful, so we know if it's minor or major
def delay_bucket(delay):
    if pd.isna(delay):
        return "unknown"
    elif delay <= 15:
        return "on_time"
    elif delay <= 60:
        return "minor"
    elif delay <= 180:
        return "major"
    else:
        return "extreme"

df_flights['delay_bucket'] = df_flights['arr_delay'].apply(delay_bucket)

df_flights.head()

,year,month,day_of_month,day_of_week,fl_date,op_unique_carrier,op_carrier_fl_num,origin,origin_city_name,origin_state_nm,...,dest_state_abbr,arr_delay_consistent,day_name,is_weekend,season,scheduled_dep_hour,is_peak_hour,is_dep_delayed,is_arr_delayed,delay_bucket
0,2024,1,1,1,2024-01-01,9E,4814,JFK,NY,New York,...,MI,True,Monday,0,winter,12.0,0,0,0,on_time
1,2024,1,1,1,2024-01-01,9E,4815,MSP,MN,Minnesota,...,OH,True,Monday,0,winter,10.0,0,0,0,on_time
2,2024,1,1,1,2024-01-01,9E,4817,JFK,NY,New York,...,VA,True,Monday,0,winter,14.0,0,0,0,on_time
3,2024,1,1,1,2024-01-01,9E,4817,RIC,VA,Virginia,...,NY,True,Monday,0,winter,16.0,1,0,0,on_time
4,2024,1,1,1,2024-01-01,9E,4818,DTW,MI,Michigan,...,WI,True,Monday,0,winter,10.0,0,0,0,on_time

# Step 3: Operational Efficiency Features

In [ ]:
# 1) Schedule Padding
df_flights['schedule_padding'] = \
    df_flights['crs_elapsed_time'] - df_flights['air_time']

# 2) Excess Elapsed Time
df_flights['excess_elapsed_time'] = \
    df_flights['actual_elapsed_time'] - df_flights['crs_elapsed_time']

# 3) Taxi Metrics
df_flights['taxi_total'] = df_flights['taxi_out'] + df_flights['taxi_in']
df_flights['taxi_share_of_trip'] = \
    df_flights['taxi_total'] / df_flights['actual_elapsed_time']

# 4) Air Speed (some indicator of congestion I suppose)
df_flights['air_speed_mph'] = \
    df_flights['distance'] / (df_flights['air_time'] / 60)

df_flights.head()

,year,month,day_of_month,day_of_week,fl_date,op_unique_carrier,op_carrier_fl_num,origin,origin_city_name,origin_state_nm,...,scheduled_dep_hour,is_peak_hour,is_dep_delayed,is_arr_delayed,delay_bucket,schedule_padding,excess_elapsed_time,taxi_total,taxi_share_of_trip,air_speed_mph
0,2024,1,1,1,2024-01-01,9E,4814,JFK,NY,New York,...,12.0,0,0,0,on_time,52.0,-14.0,38.0,0.311475,363.571429
1,2024,1,1,1,2024-01-01,9E,4815,MSP,MN,Minnesota,...,10.0,0,0,0,on_time,42.0,-16.0,26.0,0.228070,424.090909
2,2024,1,1,1,2024-01-01,9E,4817,JFK,NY,New York,...,14.0,0,0,0,on_time,45.0,-16.0,29.0,0.322222,283.278689
3,2024,1,1,1,2024-01-01,9E,4817,RIC,VA,Virginia,...,16.0,1,0,0,on_time,60.0,-35.0,25.0,0.328947,338.823529
4,2024,1,1,1,2024-01-01,9E,4818,DTW,MI,Michigan,...,10.0,0,0,0,on_time,34.0,-9.0,25.0,0.357143,316.000000

# Step 4: Route-Level Features

In [ ]:
# 1) Route ID
df_flights['route_id'] = \
    df_flights['origin'] + "_" + df_flights['dest']

# 2) Distance Bucket (tells how long of a flight)
def distance_bucket(d):
    if d < 500:
        return "short"
    elif d < 1500:
        return "medium"
    else:
        return "long"
df_flights['route_distance_bucket'] = \
    df_flights['distance'].apply(distance_bucket)

# 3) Route Average Delay
route_delay = df_flights.groupby('route_id')['arr_delay'].mean()
df_flights['route_avg_arr_delay'] = \
    df_flights['route_id'].map(route_delay)

df_flights.head()

,year,month,day_of_month,day_of_week,fl_date,op_unique_carrier,op_carrier_fl_num,origin,origin_city_name,origin_state_nm,...,is_arr_delayed,delay_bucket,schedule_padding,excess_elapsed_time,taxi_total,taxi_share_of_trip,air_speed_mph,route_id,route_distance_bucket,route_avg_arr_delay
0,2024,1,1,1,2024-01-01,9E,4814,JFK,NY,New York,...,0,on_time,52.0,-14.0,38.0,0.311475,363.571429,JFK_DTW,medium,7.526442
1,2024,1,1,1,2024-01-01,9E,4815,MSP,MN,Minnesota,...,0,on_time,42.0,-16.0,26.0,0.228070,424.090909,MSP_CLE,medium,6.234375
2,2024,1,1,1,2024-01-01,9E,4817,JFK,NY,New York,...,0,on_time,45.0,-16.0,29.0,0.322222,283.278689,JFK_RIC,short,-0.692745
3,2024,1,1,1,2024-01-01,9E,4817,RIC,VA,Virginia,...,0,on_time,60.0,-35.0,25.0,0.328947,338.823529,RIC_JFK,short,7.400856
4,2024,1,1,1,2024-01-01,9E,4818,DTW,MI,Michigan,...,0,on_time,34.0,-9.0,25.0,0.357143,316.000000,DTW_MKE,short,8.457375

# Step 5: Airport-Based Features

In [ ]:
# 1) Origin Level Delays
origin_delay = df_flights.groupby('origin')['dep_delay'].mean()

df_flights['origin_avg_dep_delay'] = \
    df_flights['origin'].map(origin_delay)

# 2) Delay relative to the airport
df_flights['dep_delay_vs_origin_avg'] = \
    df_flights['dep_delay'] - df_flights['origin_avg_dep_delay']

df_flights.head()

,year,month,day_of_month,day_of_week,fl_date,op_unique_carrier,op_carrier_fl_num,origin,origin_city_name,origin_state_nm,...,schedule_padding,excess_elapsed_time,taxi_total,taxi_share_of_trip,air_speed_mph,route_id,route_distance_bucket,route_avg_arr_delay,origin_avg_dep_delay,dep_delay_vs_origin_avg
0,2024,1,1,1,2024-01-01,9E,4814,JFK,NY,New York,...,52.0,-14.0,38.0,0.311475,363.571429,JFK_DTW,medium,7.526442,12.728260,-17.728260
1,2024,1,1,1,2024-01-01,9E,4815,MSP,MN,Minnesota,...,42.0,-16.0,26.0,0.228070,424.090909,MSP_CLE,medium,6.234375,9.998748,-23.998748
2,2024,1,1,1,2024-01-01,9E,4817,JFK,NY,New York,...,45.0,-16.0,29.0,0.322222,283.278689,JFK_RIC,short,-0.692745,12.728260,-16.728260
3,2024,1,1,1,2024-01-01,9E,4817,RIC,VA,Virginia,...,60.0,-35.0,25.0,0.328947,338.823529,RIC_JFK,short,7.400856,12.404947,-19.404947
4,2024,1,1,1,2024-01-01,9E,4818,DTW,MI,Michigan,...,34.0,-9.0,25.0,0.357143,316.000000,DTW_MKE,short,8.457375,11.156017,-16.156017

# Step 6: Carrier-Level Features

In [ ]:
carrier_delay = df_flights.groupby('op_unique_carrier')['arr_delay'].mean()

df_flights['carrier_avg_arr_delay'] = \
    df_flights['op_unique_carrier'].map(carrier_delay)

df_flights.head()

,year,month,day_of_month,day_of_week,fl_date,op_unique_carrier,op_carrier_fl_num,origin,origin_city_name,origin_state_nm,...,excess_elapsed_time,taxi_total,taxi_share_of_trip,air_speed_mph,route_id,route_distance_bucket,route_avg_arr_delay,origin_avg_dep_delay,dep_delay_vs_origin_avg,carrier_avg_arr_delay
0,2024,1,1,1,2024-01-01,9E,4814,JFK,NY,New York,...,-14.0,38.0,0.311475,363.571429,JFK_DTW,medium,7.526442,12.728260,-17.728260,1.681912
1,2024,1,1,1,2024-01-01,9E,4815,MSP,MN,Minnesota,...,-16.0,26.0,0.228070,424.090909,MSP_CLE,medium,6.234375,9.998748,-23.998748,1.681912
2,2024,1,1,1,2024-01-01,9E,4817,JFK,NY,New York,...,-16.0,29.0,0.322222,283.278689,JFK_RIC,short,-0.692745,12.728260,-16.728260,1.681912
3,2024,1,1,1,2024-01-01,9E,4817,RIC,VA,Virginia,...,-35.0,25.0,0.328947,338.823529,RIC_JFK,short,7.400856,12.404947,-19.404947,1.681912
4,2024,1,1,1,2024-01-01,9E,4818,DTW,MI,Michigan,...,-9.0,25.0,0.357143,316.000000,DTW_MKE,short,8.457375,11.156017,-16.156017,1.681912

# Step 7: Delay Attribution Features

In [ ]:
import numpy as np

delay_cols = [
    'carrier_delay',
    'weather_delay',
    'nas_delay',
    'security_delay',
    'late_aircraft_delay'
]

# 1) Total delay attributed to the flight
df_flights['total_reported_delay'] = df_flights[delay_cols].sum(axis=1)

# 2) Flag: does this flight have any attributed delay?
df_flights['has_attributed_delay'] = (df_flights['total_reported_delay'] > 0).astype(int)

# 3) Delay shares: set to 0 when total_reported_delay == 0, otherwise compute share
for col in delay_cols:
    share_col = f"{col}_share"
    df_flights[share_col] = np.where(
        df_flights['total_reported_delay'] > 0,
        df_flights[col] / df_flights['total_reported_delay'],
        0.0
    )

# 4) Primary delay cause: only defined when total_reported_delay > 0
df_flights['primary_delay_cause'] = np.where(
    df_flights['total_reported_delay'] > 0,
    df_flights[delay_cols].idxmax(axis=1),
    np.nan
)

df_flights.head()

,year,month,day_of_month,day_of_week,fl_date,op_unique_carrier,op_carrier_fl_num,origin,origin_city_name,origin_state_nm,...,dep_delay_vs_origin_avg,carrier_avg_arr_delay,total_reported_delay,has_attributed_delay,carrier_delay_share,weather_delay_share,nas_delay_share,security_delay_share,late_aircraft_delay_share,primary_delay_cause
0,2024,1,1,1,2024-01-01,9E,4814,JFK,NY,New York,...,-17.728260,1.681912,0,0,0.0,0.0,0.0,0.0,0.0,NaN
1,2024,1,1,1,2024-01-01,9E,4815,MSP,MN,Minnesota,...,-23.998748,1.681912,0,0,0.0,0.0,0.0,0.0,0.0,NaN
2,2024,1,1,1,2024-01-01,9E,4817,JFK,NY,New York,...,-16.728260,1.681912,0,0,0.0,0.0,0.0,0.0,0.0,NaN
3,2024,1,1,1,2024-01-01,9E,4817,RIC,VA,Virginia,...,-19.404947,1.681912,0,0,0.0,0.0,0.0,0.0,0.0,NaN
4,2024,1,1,1,2024-01-01,9E,4818,DTW,MI,Michigan,...,-16.156017,1.681912,0,0,0.0,0.0,0.0,0.0,0.0,NaN

# Step 8: Outlier Handling (Winsorization)

In [ ]:
import numpy as np
import pandas as pd

# Ensure the columns I want to winsorize exist
if 'taxi_total' not in df_flights.columns:
    df_flights['taxi_total'] = df_flights['taxi_out'] + df_flights['taxi_in']

if 'excess_elapsed_time' not in df_flights.columns:
    df_flights['excess_elapsed_time'] = df_flights['actual_elapsed_time'] - df_flights['crs_elapsed_time']

# should winsorize these ones
winsor_cols = [
    'taxi_out',
    'taxi_in',
    'taxi_total',
    'excess_elapsed_time'
]

for col in winsor_cols:
    # origin-specific 99th percentile threshold
    p99_origin = df_flights.groupby('origin')[col].quantile(0.99)

    # fallback threshold in case origin cap is missing
    p99_global = df_flights[col].quantile(0.99)

    # cap threshold per row
    cap = df_flights['origin'].map(p99_origin)

    # fallback to global cap where origin cap is missing
    cap = cap.fillna(p99_global)

    df_flights[f'{col}_cap'] = cap

    # outlier flag: original exceeds threshold
    df_flights[f'{col}_outlier_flag'] = (
        df_flights[col].notna() & (df_flights[col] > df_flights[f'{col}_cap'])
    ).astype(int)

    # winsorized value
    df_flights[f'{col}_winsor'] = np.minimum(df_flights[col], df_flights[f'{col}_cap'])

df_flights.head()

,year,month,day_of_month,day_of_week,fl_date,op_unique_carrier,op_carrier_fl_num,origin,origin_city_name,origin_state_nm,...,taxi_out_winsor,taxi_in_cap,taxi_in_outlier_flag,taxi_in_winsor,taxi_total_cap,taxi_total_outlier_flag,taxi_total_winsor,excess_elapsed_time_cap,excess_elapsed_time_outlier_flag,excess_elapsed_time_winsor
0,2024,1,1,1,2024-01-01,9E,4814,JFK,NY,New York,...,31.0,37.0,0,7.0,93.0,0,38.0,54.00,0,-14.0
1,2024,1,1,1,2024-01-01,9E,4815,MSP,MN,Minnesota,...,20.0,35.0,0,6.0,71.0,0,26.0,42.00,0,-16.0
2,2024,1,1,1,2024-01-01,9E,4817,JFK,NY,New York,...,21.0,37.0,0,8.0,93.0,0,29.0,54.00,0,-16.0
3,2024,1,1,1,2024-01-01,9E,4817,RIC,VA,Virginia,...,13.0,35.0,0,12.0,69.0,0,25.0,42.11,0,-35.0
4,2024,1,1,1,2024-01-01,9E,4818,DTW,MI,Michigan,...,21.0,36.0,0,4.0,68.0,0,25.0,39.00,0,-9.0

In [ ]:
summary = []
for col in winsor_cols:
    summary.append({
        "feature": col,
        "outlier_rate": df_flights[f"{col}_outlier_flag"].mean(),
        "mean_raw": df_flights[col].mean(),
        "mean_winsor": df_flights[f"{col}_winsor"].mean(),
    })

pd.DataFrame(summary)

               feature  outlier_rate   mean_raw  mean_winsor
0             taxi_out      0.009503  17.896733    17.728258
1              taxi_in      0.009445   8.318710     8.174279
2           taxi_total      0.009588  26.215442    26.023635
3  excess_elapsed_time      0.009570  -5.490712    -5.690048

In [ ]:
df_flights.columns

Index(['year', 'month', 'day_of_month', 'day_of_week', 'fl_date',
       'op_unique_carrier', 'op_carrier_fl_num', 'origin', 'origin_city_name',
       'origin_state_nm', 'dest', 'dest_city_name', 'dest_state_nm',
       'crs_dep_time', 'dep_time', 'dep_delay', 'taxi_out', 'wheels_off',
       'wheels_on', 'taxi_in', 'crs_arr_time', 'arr_time', 'arr_delay',
       'cancelled', 'cancellation_code', 'diverted', 'crs_elapsed_time',
       'actual_elapsed_time', 'air_time', 'distance', 'carrier_delay',
       'weather_delay', 'nas_delay', 'security_delay', 'late_aircraft_delay',
       'origin_state_abbr', 'dest_state_abbr', 'arr_delay_consistent',
       'day_name', 'is_weekend', 'season', 'scheduled_dep_hour',
       'is_peak_hour', 'is_dep_delayed', 'is_arr_delayed', 'delay_bucket',
       'schedule_padding', 'excess_elapsed_time', 'taxi_total',
       'taxi_share_of_trip', 'air_speed_mph', 'route_id',
       'route_distance_bucket', 'route_avg_arr_delay', 'origin_avg_dep_delay',
       'dep_delay_vs_origin_avg', 'carrier_avg_arr_delay',
       'total_reported_delay', 'has_attributed_delay', 'carrier_delay_share',
       'weather_delay_share', 'nas_delay_share', 'security_delay_share',
       'late_aircraft_delay_share', 'primary_delay_cause', 'taxi_out_cap',
       'taxi_out_outlier_flag', 'taxi_out_winsor', 'taxi_in_cap',
       'taxi_in_outlier_flag', 'taxi_in_winsor', 'taxi_total_cap',
       'taxi_total_outlier_flag', 'taxi_total_winsor',
       'excess_elapsed_time_cap', 'excess_elapsed_time_outlier_flag',
       'excess_elapsed_time_winsor'],
      dtype='object')

In [ ]:
output_path = "/content/drive/My Drive/Classes/Spring 2026/GR5243/Project 1/Feature Engineering/flights_clean_feature_engineered.parquet"

df_flights.to_parquet(output_path, index=False)

print("Parquet file saved successfully.")

Parquet file saved successfully.